body{
    font-size: 1rem;
    width: 100%;
}
h1{
    font-size: 2em;
    text-align: center;
}
form{
    background-color: #9efcff;
    margin: 0 15%;
    padding: 5%;
    width: 60%; 
}
.colonne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ligne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.form_taille{
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2%;
}
.arrond{
    border-radius: 2rem;
}
input{
    border-radius: 1rem;
    text-align: center;
}
.maj{
    text-transform: uppercase;
}
.droite{
    text-align: right;
    padding: 2em;
}
a{
    text-decoration: none;
    color: rgba(1, 9, 61, 0.905);
}
a:hover,.a:hover{
    color: rgb(7, 40, 255);
}
.ombre{
    box-shadow:2em 2em 1em rgba(158, 252, 255,0.5);
}
